<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">q3vgvj7z</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/labpesquisa</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.max_size">100</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">300</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.timeout">1800</property>

		<mapping class="ps.gerpro.calp.model.Professor" />
		<mapping class="ps.gerpro.calp.model.Agenda" />
		<mapping class="ps.gerpro.calp.model.Aluno" />
		<mapping class="ps.gerpro.calp.model.Horario" />
		<mapping class="ps.gerpro.calp.model.Projeto" />
		<mapping class="ps.gerpro.calp.model.TipoProjeto" />
		
	</session-factory>
</hibernate-configuration>
